aiogram
colorlog
requests
bs4
beautifulsoup4
pyQiwiP2P
aiohttp
APScheduler==3.9.1
colorama
async_class
yoomoney
geopy
coinbase
base58
tronpy
validators>=0.21.0 # not directly required, pinned by Snyk to avoid a vulnerability